@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Redressed&display=swap');

* {
    box-sizing: border-box;
}

html, nav {
    max-width: 100%;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    width: 100%;

    font-family: 'Merriweather', serif;

    /* h1, h2, h3 {
        font-family: 'Redressed', cursive;
    } */

    /* .merriweather {
        font-family: 'Merriweather', serif;
    } */

    .redressed {
        font-family: 'Redressed', cursive;
    }
    
    header {
    .menu-nav {
        background-color: rgba(0, 0, 0, 0.55) !important;
        font-family: 'Merriweather', serif;
        box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54);
        z-index: 2;
        
        .nav-link {
            border-bottom: 1px solid transparent;
            transition: padding-bottom 0.4s ease-in-out, border-color 0.3s ease;

            &:hover {
                /* border-color: 2px solid var(--bs-teal); */
                /* transition: 0.3s ease-in-out; */
                border-bottom-color: var(--bs-teal);
                padding-bottom: 20px;
            }
        }
    }

    .btn-commande {
        color: var(--bs-teal);
        border-color: var(--bs-teal);
        transition: 0.5s;
    
        &:hover,
        &:active {
            color: #fff;
            background-color: var(--bs-teal);
        }
    }

    .banniere {

        .titre-banniere {
            color: #fff;
            font-size: 48px;
            font-weight: 400;
        }

        background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../img/banniere2.jpg) center center no-repeat
        ;
        background-size: cover;
        height: 90vh;

        /* .redressed {
            font-family: 'Redressed', cursive;
        } */
        }
    }

    .nos-varietes {

        background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../img/banniere2.jpg) center center no-repeat
        ;
        background-size: cover;
        height: auto;

        }   

    .form-commande {
        background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../img/banniere2.jpg) center center no-repeat
        ;
        background-size: cover;
        min-height: 500px;
    }

.btn-envoi {
    background-color: rgb(153, 50, 153);
    border: none;

    &:hover {
        background-color: rgb(153, 50, 153);
        color: black;
        border: none;
    }
}
.svg {
    color: white;
    display: inline-block;
    margin: 5px 10px;

    &:hover {
        color: teal;
    }
}

footer {
    
    color: #fff;
}

#SVGRepo_bgCarrier {
    color: #fff;

    &:hover {
        color: teal;
    }
}

.footerContent{
    color: #fff;

    &:hover {
        color: teal;
    }
}

/* footer a {
    color: #fff !important;
} */

footer li {
    font-size: 12px;
}
footer h5 {
    font-size: 17px;
}

.hh5 {
    text-decoration: none;
    list-style-type: none;
    color: #fff;

    &:hover {
        color: teal;
    }
}

}




